<strong>Olá, {{ deliveryman }}</strong>
<p>Houve uma atualização nas informações da sua encomenda.</p>
<p>
  <strong>ID da encomenda: </strong> {{ id_product }} <br />
  <strong>Nome do produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ adress }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <br />
  <small>
    Por favor, retirar encomenda no depósito o mais rápido possível.
    Não se esquecer de dar baixa pelo aplicativo.
  </small>
</p>
